<template lang="pug">
section.header
  .index {{ indexText }}
  .label {{ nameText }}
  .value {{ valueText }}
  .desc {{ descText }}
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'CurrencyListHeader',
  components: {},
  props: {},
  data() {
    return {
      indexText: '#',
      nameText: 'Name',
      valueText: 'Value',
      descText: 'Description'
    }
  },
  computed: {},
  methods: {}
})
</script>

<style scoped lang="scss">
@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.header {
  @include list-row;
  // One more unit of padding to the right because scrollbar width in the list!
  padding: 0 ($minimum-separation+$unit) 0 $minimum-separation;
  min-height: $entry-height / 2;

  border-bottom: 1px solid $intense-purple;
}

.index {
  @include entry-index;
}

.label {
  @include entry-label;
}

.value {
  @include entry-value;
}

.desc {
  @include entry-desc;
}
</style>