<template lang="pug">
ul.list.scrollbar
  li(v-for="(currency, index) in sortedCurrencies")
    currency-entry(
      :id="currency.id"
      :name="currency.name"
      :value="currency.value",
      :desc="currency.desc"
      :index="index"
    )
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import * as _ from 'lodash'
import CurrencyEntry from './CurrencyEntry.vue'

export default Vue.extend({
  name: 'CurrencyList',
  components: {
    CurrencyEntry
  },
  data() {
    return {
      polling: 0,
      millisecondsInterval: 5000
    }
  },
  computed: {
    ...mapState('currencyInfo', [
      'currencies'
    ]),
    sortedCurrencies() {
      return _.orderBy(this.currencies, 'value', 'desc');
    }
  },
  mounted() {
    this.$store.dispatch('currencyInfo/fetchCurrencies')
    this.pollCurrencies()
  },
  beforeDestroy() {
    clearTimeout(this.polling)
  },
  methods: {
    pollCurrencies() {
      this.polling = window.setTimeout(() => { 
        this.$store.dispatch('currencyInfo/fetchCurrencies')
        this.pollCurrencies()
      }, this.millisecondsInterval)
    }
  }
})
</script>

<style scoped lang="scss">
@import '@/styles/variables.scss';

.list {
  overflow-y: scroll;
}

// Custom styles for scrollbar in Google Chrome
::-webkit-scrollbar {
	width: $unit;
}
::-webkit-scrollbar-thumb {
	border-radius: $unit;
  background-color: $white-purple;
}
</style>