<template lang="pug">
section(
  :class="['entry', index%2==0 ? 'even' : 'odd']"
  v-on:click="toDetail()"
)
  .index {{ index + 1 }}
  .label
    font-awesome-icon.icon(:icon="getIconClass(this.id)")
    .name {{ name }}
  .value {{ value }}
  .desc {{ desc }}
  .arrow
    font-awesome-icon(:icon="['fas', 'arrow-right']")
</template>

<script lang="ts">
import Vue from 'vue'
import iconMixin from '@/mixins/iconMixin.ts'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default Vue.extend({
  name: 'CurrencyEntry',
  mixins: [ iconMixin ],
  components: {
    FontAwesomeIcon
  },
  props: {
    index: {
      type: Number,
      default: 0
    },
    id: {
      type: String,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    value: {
      type: Number,
      default: 0
    },
    desc: {
      type: String,
      default: null
    }
  },
  data() {
    return {
    }
  },
  computed: {},
  methods: {
    toDetail() {
      this.$router.push('/detail/'+this.id)
    },
  }
})
</script>

<style scoped lang="scss">
@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.entry {
  @include list-row;
  padding: 0 $minimum-separation;
  height: $entry-height;

  transition: background-color 0.33s;
  cursor: pointer;

  &:hover{
    background-color: $purple;
  }
}

.index {
  @include entry-index;
}

.label {
  @include entry-label;
}

.icon {
  @include entry-icon;
}

.name {
  @include entry-name;
}

.value {
  @include entry-value;
}

.desc {
  @include entry-desc;
}

.arrow {
  @include entry-arrow;
}

// ood or even class depending on the entry's index
.odd {
  background-color: transparent;
}
.even {
  background-color: $deeper-purple;
}
</style>