
@import '@/styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $text-size;
    font-family: 'Nunito', sans-serif;
  
    background: linear-gradient(45deg, $purple 0%, $white-purple 100%);
}