@mixin list-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

@mixin entry-index {
  width: 5%;
}

@mixin entry-label {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 15%;
}

@mixin entry-icon {
  width: $icon-size;
  font-size: $icon-size;
}

@mixin entry-name {
  text-indent: $unit;
  white-space: nowrap;
}

@mixin entry-value {
  width: 10%;
}

@mixin entry-desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  width: 65%;
}

@mixin entry-arrow {
  display: flex;
  justify-content: flex-end;
  width: 5%;
}