// Units
$unit: 8px;
$text-size: ($unit * 7) / 4; //14px expressed in units

// Colors
$white: #EFEFEF;
$almost-clear: #7A7A7A;
$almost-dark: #545454;
$darkish: #424242;
$dark: #303030;
$darker: #212121;
$darkest: #0E0E0E;

$white-purple: #C5CAE9;
$intense-purple: #3d3175;
$purple: #9575CD;
$deep-purple: #161032;
$deeper-purple: #07031B;
$deepest-purple: #030011;

// Reusable measurements
$icon-size: $text-size;
$minimum-separation: $unit * 3;
$entry-height: $unit * 8;
