<template lang="pug">
.wrapper
  currency-list-header
  currency-list
</template>

<script>
import Vue from 'vue'
import CurrencyListHeader from '@/components/currency-list/CurrencyListHeader.vue'
import CurrencyList from '@/components/currency-list/CurrencyList.vue'

export default Vue.extend({
  name: 'CurrencyListView',
  components: {
    CurrencyListHeader,
    CurrencyList
  },
  data() {
    return {
    }
  },
  computed: {},
  methods: {}
})
</script>

<style scoped lang="scss">
@import '@/styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}
</style>