<template lang="pug">
section
  .detail(v-if="idIsValid()")
    font-awesome-icon.icon(
      :icon="getIconClass(this.id)"
      id="fontawesome-icon"
    )
    p.name {{ getName(this.id) }}
    p.description(v-html="htmlDescription")
  .not-found(v-else)
    p.icon {{ notFoundCode }}
    p.description {{ notFoundDescription + this.id }}
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapState } from 'vuex'
import iconMixin from '@/mixins/iconMixin.ts'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default Vue.extend({
  name: 'CurrencyDetailView',
  mixins: [ iconMixin ],
  components: {
    FontAwesomeIcon
  },
  props: {
    id: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      notFoundCode: 404,
      notFoundDescription: 'The requested currency ID was not found: '
    }
  },
  computed: {
    ...mapState('currencyInfo', [
      'currencies'
    ]),
    ...mapGetters('currencyInfo', [
      'getName',
      'getDesc',
    ]),
    htmlDescription() {
      return this.getDesc(this.id)?.replace(/\n/g, "<br />")
    },
  },
  mounted() {
    this.$store.dispatch('currencyInfo/fetchCurrencies')
  },
  methods: {
    idIsValid(): Boolean {
      let ids = this.currencies?.map((e:any) => e['id'])
      return ids?.includes(this.id)
    }
  }
})
</script>

<style scoped lang="scss">
@import '@/styles/variables.scss';

$icon-big: $text-size * 8;
$text-large: $text-size * 2;

section {
  height: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  overflow-y: scroll;
}

.icon {
  font-size: $icon-big;

  padding-top: $unit * 2;
  // Moved one unit to the right because scrollbar is pushing it one unit to the left
  padding-left: $unit;
}

#fontawesome-icon {
  width: $icon-big;
}

.name {
  font-size: $text-large;

  padding-top: $unit * 2;
  // Moved one unit to the right because scrollbar is pushing it one unit to the left
  padding-left: $unit;
}

.description {
  text-align: justify;
  font-size: $unit * 2;
  line-height: $unit * 3;

  padding: $unit*4 $unit*2 $unit*3 $unit*3;
}

// Custom styles for scrollbar in Google Chrome
::-webkit-scrollbar {
	width: $unit;
}
::-webkit-scrollbar-thumb {
	border-radius: $unit;
  background-color: $white-purple;
}
</style>