<template lang="pug">
section.panel
  router-view
</template>

<script>
import Vue from 'vue'
import CurrencyList from '@/components/currency-list/CurrencyList.vue'
import CurrencyListHeader from '@/components/currency-list/CurrencyListHeader.vue'
import CurrencyListView from '@/views/CurrencyListView.vue'

export default Vue.extend({
  name: 'BasePanel',
  components: {
    CurrencyList,
    CurrencyListHeader,
    CurrencyListView
  },
  data() {
    return {
    }
  },
  computed: {},
  methods: {}
})
</script>

<style scoped lang="scss">
@import '@/styles/variables.scss';

.panel {
  background-color: $deep-purple;
  color: white;

  padding: $unit*2 0;
  width: $unit * 150;

  border-radius: $unit * 2;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.75);

  min-width: 0;
}

</style>