<template lang="pug">
main(
  id="app"
)
  base-panel
</template>

<script>
import Vue from 'vue'
import BasePanel from '@/components/BasePanel.vue'

export default Vue.extend({
  name: 'app',
  components: {
    BasePanel
  },
  data() {
    return {
    }
  },
  computed: {},
  methods: {}
})
</script>

<style lang="scss">
@import "@/styles/css-reset.scss";
@import "@/styles/app.scss";

#app {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  padding: 4*$unit;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
}
</style>
